incident\sINC(\d+)::FETCH_URL("http://incidents.example.org/incident/$1")
test\sINC(\d+)::FETCH_URL("http://www.microsiervos.com/index-$1.html")
(https?://.*.safe/)\sINC(\d+)::FETCH_URL("http://checkurl.example.org/incident/$1")
Find\s+(.*)\sin\sfile\s(.*)::GREP($2,$1)
What\sis\sthe\suserid\sfor\s(.*)::EXTERNAL("getent", $1)
ping\s+(\d+\.\d+\.\d+\.\d+)::EXTERNAL("ping", $1)
